<%- include("template/cabecera.ejs", {tituloWeb:'Panel de Administración'}) %>

  <div class="container">
    <h1>Producto</h1>
   <a class="btn btn-success btn-block my-4" href="/producto/crearProducto">Crear un nuevo producto</a>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Categoria</th>
                    

                </tr>
            </thead>
            <tbody>
      <% if (arrayProducto.length> 0) { %>
          <!--Haremos el foreach para recorrer el array-->
          <% arrayProducto.forEach(producto => { %>
              <tr>
                  <th scope="row"><%= producto.id %></th>
                  <td><%= producto.Nombre %></td>
                  <td><%= producto.Descripcion %></td>
                  <td><%= producto.Precio %></td>
                  <td><%= producto.Categoria %></td> 
                  
                  <td>
                    <a class="btn btn-warning btn-sm" href="/producto/<%= producto.id %>">Editar/Eliminar</a>
                    </td>
                  <td>
                
                    </td>
              </tr>
             
          <% }) %>
      <% } %>
      
</tbody>
        </table>
        <div>
            <a class="btn btn-danger btn-sm btn-block" href="/">Volver</a>
        </div>
    </div>


<%- include("template/footer.ejs") %>

